<!DOCTYPE html>
<html>
    <head>
        <title>My Projects - {% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="http://cdn.ink.sapo.pt/3.1.10/css/ink.min.css">
        <link rel="stylesheet" type="text/css" href="http://cdn.ink.sapo.pt/3.1.10/css/ink-flex.min.css">
        {% block styles %}
        {% endblock %}
        {% block scripts %}
        {% endblock %}
    </head>
    <body>
        <div class="ink-flex push-center">
            {% block content %}
            {% endblock %}
        </div>

        <footer class="ink-flex push-center">
            {% block footer %}
            {% endblock %}
        </footer>
    </body>
</html>
