<!DOCTYPE html>
<html>
    <head>
        <title>Numbermind</title>

        <link rel="stylesheet" type="text/css" href="http://fastly.ink.sapo.pt/3.1.10/css/ink.css">
        <script type="text/javascript" src="/js/mivu.js"></script>
        <script type="text/javascript" src="/js/validators.js"></script>
        <script type="text/javascript" src="/js/mvc.js"></script>
        <script type="text/javascript" src="/js/numbermind.js"></script>
    </head>
    <body>
        <div class="all-100">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
