{% macro RenderGuessNumberBox(name) %}
    <form class="ink-form">
        <div class="guessnumber-control control-group all-100 validation">
            <label class="all-25" for="{{ name }}">Your number:</label>
            <div class="all-75 control append-button">
                <span><input class="guessnumber-input" type="text" name="{{ name }}" maxlength="4"/></span>                            
                <button type="button" class="guessnumber-send ink-button green">Send</button>
            </div>
            <p class="tip guessnumber-message"></p>
        </div>
    </form>
{% endmacro %}



{% macro RenderResultsTable() %}
    <div class="resultstable-group all-100">
        <ul class="resultstable-list unstyled"></ul>
    </div>
    <script type="text/javascript">
        
    </script>
{% endmacro %}


{% macro RenderLogger() %}
    <div class="logger-group all-100">
        <ul class="logger-list unstyled"></ul>    
    </div>
{% endmacro %}